.layout {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.layout section {
    padding: 15px;
}

@media screen and(max-width:1200px) {
    .layout {
        display: flex;
    }
    .mainPage {
        width: 100%;
    }
}
